.wrapper {
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in-out;
  /* transition: background-color 1s ease-in-out;
  transition: border-color 1s ease-in-out; */
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 0 20px 30px -6px rgba(0, 0, 0, 0.1),
    0 8px 12px -4px rgba(0, 0, 0, 0.05);
  height: 100%;
}

.wrapper:hover,
.selected {
  background-color: rgba(0, 255, 0, 0.05);
  /* border-color: rgba(0, 255, 0, 0.1); */
  border-color: green;
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
