@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  font-family: "Roboto Condensed";
}

#root {
  background-color: #f1f5f8;
}

.button {
  font-family: "Roboto Condensed";
}
